<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Notification email from H20.</h3>
    <p>
       You just recieve a new message from <b> <%= @sender.fullname %> </b><br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>